* {
    box-sizing: border-box; 
    margin: 0px;
}
body {
    font-family: 'Assistant', sans-serif;
    color: #566573;
    font-size: 18px;
    a {
        text-decoration: none;
        color: #05ABE3;
    }
}
header {
    background: linear-gradient(180deg, rgba(7,123,240,1) 0%, rgba(5,171,227,1) 81%, rgba(0,212,255,1) 100%);
    height: 100vh;
    width: 100%;
    color: #ffffff;
}
.content {
    max-width: 1000px;
    margin: auto;
}
.apresentation {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 4rem;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
}
header {
    .content {
        nav {
            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                li {
                    display: inline;
                    background-color: #ffffff;
                    padding: 10px;
                    a {
                        text-transform: uppercase;
                    }
                    a:hover {
                        color: #F6EEEE;
                    }
                }
                li:hover {
                    background-color: #566573;
                }
            }
        }
    }
}
section {
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
}
section:nth-child(even){
    background-color: #F6EEEE;
}
#skills {
    .content {
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .myskills {
            min-height: 80vh;
        }
    }
}
.circle_skill {
    border-radius: 50%;
    width: 220px;
    background: linear-gradient(180deg, rgba(7,123,240,1) 0%, rgba(5,171,227,1) 81%, rgba(0,212,255,1) 100%);
    height: 220px;
    color: #ffffff;
    margin: 20px 5px 20px 5px;
    font-size: 2rem;
    p {
        text-align: center;
    }
}
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding-top: 20px;
    color: #077BF0;
}
.projects {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.portfolio_item {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0.75;
    margin: 10px 0px 10px 0px;
}
.portfolio_item:hover {
    opacity: 1;
}
.portfolio_item {
    p {
    background-color: #ffffffb6;
    padding: 10px;
    @media screen and (max-width: 990px) 
    {background-color: #ffffff;}
    }
}
.portfolio_item {
    p:hover {
    background-color: #ffffff;
    padding: 10px;
    }
}
#portfolio_item_1 {
    background: rgb(240, 7, 228);
}
#portfolio_item_2 {
    background: rgb(240, 73, 7);
}
#portfolio_item_3 {
    background: rgb(7, 168, 15);
}
#portfolio_item_4 {
    background: rgb(212, 181, 43);
}
#portfolio_item_5 {
    background: rgb(7, 50, 240);
}
#portfolio_item_6 {
    background: rgb(212, 230, 54);
}
.projects {
    div {
        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}
.me {
    max-width: 450px;
    p {
        padding-bottom: 15px;
    }
}
.form_contact {
    background: transparent;
    height: 50px;
    border: 0px;
    border-bottom: #566573 solid 3px;
    width: 495px;
    font-size: 2rem;
    @media screen and (max-width: 990px) {
        width: 100%;
    }
}
.projects {
    form {
        label {
            display: block;
            font-size: 2rem;
        }
        textarea {
            background: transparent;
            border: 0px;
            border-bottom: #566573 solid 3px;
            width: 100%;
            height: 350px;
            font-size: 2rem;
        }
    }
}
#button_submit {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    background-color: #077BF0;
    border: 0px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
    -webkit-appearance: none;
}
#button_submit:hover {
    background-color: #566573;
}
#button_submit, .projects form textarea, .form_contact {
    font-family: 'Assistant', sans-serif;
}
footer {
    background: linear-gradient(#4f5e6b, #566573);
    padding: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    p {
        padding: 10px;
        a {
            padding: 0 15px 0 15px;
        }
        a:hover {
            color: #ffffff;
        }
    }
}
#copyright {
    font-size: 0.8rem;
}

